/* Estilos específicos de Proveedores */

body {
  font-family: "Georgia", Arial, sans-serif;
  background: #f6efe6;;
}

h1 {
  text-align: left;
  margin-bottom: 5px;
}

.descripcion {
  text-align: center;
  color: #666;
}

.card {
  background: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px #aaa;
}

label {
  font-weight: bold;
  margin-top: 10px;
  display: block;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

button {
  background: #4b2e18;
  color: white;
  border: none;
  padding: 10px 15px;
  margin-top: 15px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

button:hover {
  background: #4b2e18;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 10px;
  text-align: center;
}

.acciones button {
  margin: 0 5px;
  background: #4b2e18;
}

.acciones button:hover {
  background: #4b2e18
}

.btnEliminar {
  background: #dc3545 !important;
}

.btnEliminar:hover {
  background: #a71d2a !important;
}
