
/* ======= GENERAL ======= */
body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: "Georgia", serif;
    color: white;
    display: flex;
    height: 100vh;
}

/* ======= CONTENEDOR PRINCIPAL ======= */
.container {
    display: flex;
    width: 100%;
}

/* ======= LADO IZQUIERDO (imagen/logotipo) ======= */
.left {
    width: 45%;
    background-image: url("photo1.jpg"); /* Aquí puedes poner la imagen */
    background-size: cover;
    background-position: center;
    position: relative;
}

.left .logo-text {
    position: absolute;
    top: 45%;
    left: 20%;
    transform: translateY(-50%);
    font-size: 65px;
    text-align: center;
    font-family: "Georgia", serif;
    letter-spacing: 3px;
    color: white;
}

.left .sub {
    font-size: 22px;
    letter-spacing: 3px;
}

/* ======= PANEL DERECHO ======= */
.right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel {
    width: 75%;
    background-color: black;
    border: 2px solid #ccc;
    padding: 40px;
    border-radius: 20px;
    text-align: left;
}

.panel h1 {
    font-size: 35px;
    margin-bottom: 20px;
    text-align: center;
}

/* ======= SELECTOR DE ROL ======= */
.role-btn {
    width: 100%;
    background-color: #1f1f1f;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
    font-family: "Georgia", serif;
}

.role-btn:hover {
    background-color: #333;
    font-family: "Georgia", serif;
}

/* ======= INPUT PASSWORD ======= */
input[type="password"] {
    width: 95%;
    padding: 15px;
    margin: 10px 0 20px 0;
    background-color: transparent;
    border: 1px solid #aaa;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    font-family: "Georgia", serif;
}

/* ======= BOTÓN LOGIN ======= */
.login-btn {
    width: 100%;
    padding: 15px;
    background-color: #865443;   /* color café */
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
    font-family: "Georgia", serif;
}

.login-btn:hover {
    background-color: #6d3f30;
    font-family: "Georgia", serif;
}

p{
    font-size: 20px;
}

.selectedRole {
    border: 4px solid #865443;
}

